<h1>Login</h1>

<% if flash.now[:errors] %>
	<%= flash.now[:errors] %>
<% end %>

<form action="/login" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label for="name">Name</label>
	<input type="text" name="user[username]">
	<label for="password">Password</label>
	<input type="password" name="user[password]">
	<input type="submit" value="Log in">
</form>