<h1>succeed</h1>

<% flash.each do |message_type, message| %>
	<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<ul>
	<% @users.each do |user| %>
		<li>
			<a href="user/<%= user.id %>"><%= user.username %></a>
		</li>
	<% end %>
</ul>

<a href="/signup">Create a User</a>